<div class="login-container">
  <h1 class="title">Forgot Password</h1>

  <form (ngSubmit)="onResetPassword()" #resetForm="ngForm" class="login-form">
    <div class="form-group">
      <label for="email">Enter your email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        [(ngModel)]="email"
        placeholder="Email"
        class="form-input"
      />
    </div>

    <button type="submit" class="login-button" [disabled]="resetForm.invalid">
      Send Reset Link
    </button>
  </form>
</div>
