<div class="login-container">
  <h1 class="title">{{ 'FORGOTPASSWORD.ForgotPassword' | translate }}</h1>

  <form (ngSubmit)="onResetPassword()" #resetForm="ngForm" class="login-form">
    <div class="form-group">
      <label for="email">{{ 'FORGOTPASSWORD.EnterYourEmail' | translate }}</label>
      <input type="email" id="email" name="email" required [(ngModel)]="email" placeholder="{{ 'FORGOTPASSWORD.Email' | translate }}" class="form-input" />
    </div>

    <button type="submit" class="login-button" [disabled]="resetForm.invalid">
      {{ 'FORGOTPASSWORD.SendResetLink' | translate }}
    </button>
  </form>
</div>