<div class="login-container">
  <h2>{{ 'RESET_PASSWORD.Title' | translate }}</h2>

  <div *ngIf="message" class="alert alert-danger">{{ message }}</div>

  <form *ngIf="!message" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>{{ 'RESET_PASSWORD.Password' | translate }}</label>
      <input type="password" [(ngModel)]="newPassword" name="newPassword" required class="form-control">
    </div>

    <div class="form-group">
      <label>{{ 'RESET_PASSWORD.ConfirmPassword' | translate }}</label>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required class="form-control">
    </div>

    <button type="submit" [disabled]="isLoading" class="btn btn-primary">
      {{ isLoading ? ('RESET_PASSWORD.Saving' | translate) : ('RESET_PASSWORD.Submit' | translate) }}
    </button>
  </form>
</div>