@import '../../../../styles.scss';

nav.navbar {
  .navbar-brand {
    color: $logo-color;
    font-weight: bold;
  }

  .nav-link {
    color: $text-color;
    margin-right: 15px;
    transition: color 0.3s;

    &:hover {
      color: $logo-color;
    }
  }

  .pi {
    color: $logo-color;
    background-color: #e6f4ef;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10%;
  }

  form {
    position: relative;

    i {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
    }

    input[type="search"] {
      padding-left: 50px;
      background-color: $logo-bg-color;
      border: none;
      border-radius: 5px;
      color: #333;

      &::placeholder {
        color: $logo-color;
      }
    }
  }
}

body.dark-mode nav.navbar {
  background-color: $input-bg-dark;
}

body.dark-mode nav.navbar a.nav-link {
  color: $primary-color-dark !important;
}

.navbar {
  background-color: $input-bg;

  .nav-link {
    color: #333;

    &:hover {
      color: $logo-color;
    }
  }
}

body.dark-mode .navbar {
  background-color: $input-bg-dark;

  .nav-link {
    color: $primary-color-dark !important;
  }
}