<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Domix</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Buy</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Rent</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Sell</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Manage Listing</a></li>
      </ul>

      <form class="d-flex" role="search">
        <i class="pi pi-search"></i>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>

      <i class="pi pi-bell"></i>
      <i class="pi pi-user"></i>

      <!-- زر تفعيل الوضع الداكن -->
      <button class="btn btn-outline-secondary ms-2" (click)="toggleTheme()">🌙</button>
    </div>
  </div>
</nav>