@import '../../../styles/variables.scss';

.contact-page {
  font-family: "Public Sans", "Noto Sans", sans-serif;
  background-color: $background-color;
  color: $text-color;
  padding: 2rem;

  .container {
    max-width: 960px;
    margin: auto;
  }

  .header {
    margin-bottom: 1.5rem;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }

    .subtitle {
      color: $secondary-color;
      font-size: 0.875rem;
    }
  }

  h3 {
    margin-top: 2rem;
    font-size: 1.125rem;
    font-weight: bold;
  }

  .info-grid {
    margin-top: 1rem;

    .info-row {
      display: grid;
      grid-template-columns: 20% 1fr;
      padding: 1rem 0;
      border-top: 1px solid $input-bg;

      .label {
        color: $secondary-color;
        font-size: 0.875rem;
      }

      .value {
        font-size: 0.875rem;
      }
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 480px;
    margin-top: 1rem;

    label {
      display: flex;
      flex-direction: column;

      span {
        font-weight: 500;
        padding-bottom: 0.5rem;
      }

      input,
      textarea {
        border: 1px solid $input-bg;
        border-radius: $border-radius;
        padding: 0.75rem;
        font-size: 1rem;
        background-color: $input-background-color;
        color: $text-color;

        &::placeholder {
          color: $secondary-color;
        }
      }

      textarea {
        min-height: 9rem;
        resize: none;
      }
    }

    button {
      background-color: $logo-bg-color;
      color: $logo-color;
      padding: 0.5rem 1.5rem;
      border-radius: $border-radius;
      font-weight: bold;
      cursor: pointer;
      max-width: 160px;
    }
  }

  .social-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;

    .social-item {
      width: 50px;
      background-color: $input-background-color;
      text-align: center;
      padding: 0.75rem;
      border-radius: 50%;

      .icon {
        margin: auto;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $input-bg;
        display: flex;
        align-items: center;
        justify-content: center;
       background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
      }

      p {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        font-weight: 500;
      }
    }
  }
}

// Dark Mode
:host-context(.dark-mode) {
  .contact-page {
    background-color: $background-color-dark;
    color: $text-color-dark;

    .subtitle,
    .label {
      color: $secondary-color-dark;
    }

    input,
    textarea {
      background-color: $input-bg-dark;
      border-color: $input-bg;
      color: $text-color-dark;

      &::placeholder {
        color: $secondary-color-dark;
      }
    }

    .social-item {
      background-color: $input-bg-dark;

      .icon {
        background-color: $input-bg;
      }
    }

    button {
      background-color: $input-bg-dark;
      color: $text-color-dark;
    }
  }
}
