$logo-color: #46a080;
$logo-bg-color: #e6f4ef;
$primary-color: #121714;
$secondary-color: #648273;
$background-color: #f9fbfa;
$input-bg: #ebefed;
$text-color: #333;
$border-radius: 1rem;
$input-background-color: #f1f3f5;
// Dark colors
$background-color-dark: #111b22;
$input-bg-dark: #233948;
$primary-color-dark: #ffffff;
$secondary-color-dark: #92b3c9;
$text-color-dark: #ffffff;