<div class="container">

    <div class="hero-banner">
        <img src="/assets/home/hero.jpg" alt="">
    </div>

    <div class="search-box">
        <label class="search-input">
            <div class="icon">
                <i class="pi pi-search"></i>
            </div>
            <input  [placeholder]="'HOME.Search by location or listing ID' | translate" type="text" />
        </label>
    </div>

    <div class="filters">
        <div class="filter">{{ 'HOME.Price' | translate }}</div>
        <div class="filter">{{ 'HOME.Location' | translate }}</div>
        <div class="filter">{{ 'HOME.Type' | translate }}</div>
        <div class="filter">{{ 'HOME.RentSale' | translate }}</div>
    </div>

    <h2 class="section-title">{{ 'HOME.FeaturedListings' | translate }}</h2>

    <div class="listings">
        <div class="listing-card">
            <div class="listing-image" style="background-image: url('/assets/home/hero4.jpg')"></div>
            <div class="listing-info">
                <p class="title"> {{ 'HOME.ModernApartment' | translate }}</p>
                <p class="description">{{ 'HOME.ModernApartmentDescription' | translate }}</p>
            </div>
        </div>
        <div class="listing-card">
            <div class="listing-image" style="background-image: url('/assets/home/hero2.jpg')"></div>
            <div class="listing-info">
                <p class="title">{{ 'HOME.LuxuryCondo' | translate }}</p>
                <p class="description">{{ 'HOME.LuxuryCondoDescription' | translate }}</p>
            </div>
        </div>
        <div class="listing-card">
            <div class="listing-image" style="background-image: url('/assets/home/hero3.jpg')"></div>
            <div class="listing-info">
                <p class="title">{{ 'HOME.Townhouse' | translate }}</p>
                <p class="description">{{ 'HOME.TownhouseDescription' | translate }}</p>
            </div>
        </div>
    </div>

</div>