<div class="profile-container">

  <div class="profile-card" *ngIf="user">
    <h1>{{ 'PROFILE.Title' | translate }}</h1>

    <img [src]="user.photoURL || defaultAvatar" alt="Profile Picture" class="avatar" />

    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>
    <i class="pi pi-pen-to-square" (click)="router.navigate(['/user/edit'])"></i>
    <i class="pi pi-sign-out" (click)="logout()"></i>

  </div>

  <div *ngIf="!user">
    <p>{{ 'PROFILE.Loading' | translate }}</p>
  </div>
</div>