<footer class="footer">
<div class="footer-links">
<a routerLink="/" class="footer-link">{{ 'FOOTER.HOME' | translate }}</a>
<a routerLink="/search" class="footer-link">{{ 'FOOTER.SEARCH' | translate }}</a>
<a routerLink="/auth/login" class="footer-link">{{ 'FOOTER.LOGIN' | translate }}</a>
<a routerLink="/post" class="footer-link">{{ 'FOOTER.POST' | translate }}</a>
<a routerLink="/pages/about" class="footer-link">{{ 'FOOTER.ABOUT' | translate }}</a>
<a routerLink="pages/contact" class="footer-link">{{ 'FOOTER.CONTACT' | translate }}</a>
</div>
<div class="footer-social">
<a href="#" aria-label="Facebook"><i class="pi pi-facebook"></i></a>
<a href="#" aria-label="Twitter"><i class="pi pi-twitter"></i></a>
<a href="#" aria-label="Instagram"><i class="pi pi-instagram"></i></a>
</div>
<div class="footer-copy">
    © 2024 All Rights Reserved
</div>
</footer>


 